header {
    position: relative;

}

iframe {
  margin: 0px auto;
}

video
{
    width: 100%;
    height: 100%;
    top: -10px;
    left: 0;
    border: 1px solid #000;
}

.project-intro h1{
    line-height: 0;
    text-align: center;
    font-size: 30px;
}

.elixir h2, h3, h4 , h5, h6 {
    padding: 20px ;
    margin: 0px;
}


.project-info {
   
  padding-top: 20px;
  flex: 0 50%;
    
    margin-bottom: 2%; /* (100-32*3)/2 */

}

.project-info p {
    font-size: 20px;
}

.project-info h2 {
    text-align: center !important;
    font-size: 30px;
}

.project-info h3 {
    text-align: left !important;
    font-size: 20px;
    line-height: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
  }

  .double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2
  }

  .oldsystem{
      margin: 0 auto;
      display: block;
      opacity: 0.4;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    flex: 0 32%;
    height: 100px;
    margin-bottom: 2%; /* (100-32*3)/2 */
  }

  @media (max-width:600px),
  (max-device-width:600px) {
  
    .oldsystem{
        width: 100%;
    }

    .container {
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 0;
    }

    .project-info {
      padding-top: 0px; 
    flex: 0 1 32%;
    height: auto; 
    margin-bottom: 2%;
    }
    
    .project-info h3 {
      text-decoration: underline;
    }

    iframe {
      width: 100%;
      height: 52vh !important;
    }
  }
  

 