.nav  {
    top: 100px !important;
}

.hide
{
    display: none;
}

.show
{
    display: block;
}

.explore a {
    text-decoration: none !important;
    color: #000;
    font-size: 20px;
}
.explore
{
    list-style-type: none;
    text-decoration: none !important;
}

ul {
    padding: 20px 40px 20px 40px;
    color: #000;
}

nav{
    width: 270px;
    margin: 40px auto;
    background: #fff;
    opacity: 0.7;
}