.abouth1 {
        margin: 0px;
}

.project-info p {
    font-weight: normal;
    margin: 20px 0px 0px 20px;
}

@media (max-width:600px),
(max-device-width:600px) {

    svg {
        padding: 0 !important;
    }

    .mob {
        display: none !important;
        padding-bottom: 20px;
    }
    
    .project-info{
        padding-bottom: 10% !important;
    }
}

