.Dotnav {
    position: fixed;
    z-index: 999;
    right: 75px;
    top: 400px;
}
.Dotnav ul {
    display: block;
}

.Dotnav li {
    width: 10px;
    height: 10px;
    cursor: pointer;
    top: 0;
    left: 0;
    outline: none;
    border-radius: 50%;
    background-color: #ccc;
    text-indent: 2.5em;
    margin: 10px;
    color: #fff;
    list-style-type: none;
}