.overlay h1
{
  font-size: 80px !important;
  text-align: center;
}

.overlay{
	top: 10px;
	width: 100%;
  height: 100vh;
	text-align: center !important;
	z-index: 100;
  display:block;
  color: #ffffff;
  
  margin: 0px auto;
}

.overlay  h2
{
  top: 100px !important;
  text-align: center;
}


@media (max-width:600px),
(max-device-width:600px) {

  .avatar {
    width: 100%;
  }

  .overlay {
    height: 80vh !important;
    display: block !important;
  }
}
 