.intro h1 {
  width: 400px;
  line-height:normal;
  word-wrap: break-word;
  text-align: left;
  color: #fff;
  
}


.intro {

    display: flex;
 
    align-items: center;
}


@media (max-width:600px),
(max-device-width:600px) {


}
 