.tree {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.c-harWIp{
    width: 40px !important;
    height: 40px !important;
    background: #000 !important;
}

.c-dyuglr {
    width: 95% !important;
}

.interactive h3 {
    text-align: center;
}

.tree h3 {
    text-align: center;
}

.width100 {
    width: 100% !important;
}

.interactive {
    margin: 0 auto;
    display: block;
    text-align: center;
}

@media (max-width:600px),
  (max-device-width:600px) {
  
    .width50{
        width: 100%;
        margin: 0px auto;
    }

    .tree {
        display: block;
        padding-top: 0;
    }
  }
  

  video 
  {
      height: 100vh;
      border: 0px ;
  }