.yana {
    width: 100%;
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
}

.container-app {
    flex-wrap: wrap;
    justify-content: space-between;
  }

.underlined {
    text-decoration: underline !important;
}

header {
    width: 100%;
}

.project-info a {
    color: #000 !important;
}

h1 {
    color: #000;
    padding: 20px 0px 0px 20px;
}