.yana {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.container-app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.underlined {
    text-decoration: underline !important;
}

header {
    width: 100%;
}

.project-info a {
    color: #000 !important;
}