
@import url('https://fonts.googleapis.com/css?family=Martel|Open+Sans:400&display=swap');

header {
  padding: 40px;
}

body {
  font-size: 12px;
  background-color: #000;
}

.percen70 
{
  width: 70%;
}

.pro {
  color: #ffffff;
  font-size: 103px;
}

.white {
  color: #fff;
}

li{
  font-size: 18px;
  font-family: 'Open Sans';
  padding: 10px;
}

h1 {
  text-align: left;
  font-family: 'Open Sans';
  font-size: 60px;
  font-weight: 900;
  line-height: 0px;
  padding: 10px;
}

h2 {
  text-align: left;
  font-family: 'Open Sans';
  font-size: 50px;
  font-weight: 900;
  line-height: 10px;
  padding: 10px;
}

h3 {
  text-align: left;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
  padding: 10px;
}

h4 {
  text-align: left;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
  padding: 10px;
}

.one,
.two,
.three, .two_point_two, .four {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.one {
  right: 0;
  top: 0;
  background-color: #000000;
  -webkit-clip-path: polygon(78% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(78% 0, 100% 0%, 100% 100%, 0% 200%);
}

.two {
  right: 0;
  top: 0;
  background-color: #800808;
  -webkit-clip-path: polygon(78% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(78% 0, 100% 0%, 50% 100%, 0% 100%)
}

.two_point_two {
right: 0;
  top: 0;
  background-color: #000;
  -webkit-clip-path: polygon(78% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon( 33% 0, 80% 100%, 0% 100%, 0% 0%)
}

.three {
  right: 0;
  top: 0;
  background-color: #000000;
  -webkit-clip-path: polygon(78% 0, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(72% 0, 102% 100%, 0% 100%, 0% 0%);
}

.four {
  right: 0;
    top: 0;
    background-color: #ff00ff;
    -webkit-clip-path: polygon(78% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0% 230%)
  }

  .five {

  right: 0;
    top: 0;
    background-color: #000;
    -webkit-clip-path: polygon(78% 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(182% 0, 100% 0%, 100% 100%, 0% 200%)
  }
.padding20 {
  padding: 20px;
}

.width25
{
  width: 25%
}

.width50
{
  width: 50%
}
  
.width100
{
  width: 100%
}

.width80
{
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}

.overlay h1
{
  font-size: 80px !important;
}

.overlay h1, h2{
  position: absolute;
	top: 10px;
	width: 100%;
	text-align: center !important;
	z-index: 100;
  display:block;
  color: #ffffff;
  padding: 230pt 0px;
  font-size: 50px;
  margin: 0px auto;
}

.overlay  h2
{
  top: 100px !important;
}