
@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Montserrat&display=swap');

.section {
  height: 100%;
}

.dim
{
  opacity: 0.4;
}

body {
  font-size: 12px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}

.nav-home {
  margin-bottom: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-title h2 
{
  font-family: 'Cardo';
  font-size: 80px;
  color: #fff;
}


.intro h1 {
  font-family: 'Montserrat';
  font-size: 30px !important;
  margin: 0px;
 
}

.white {
  color: #fff;
}

li{
  font-size: 18px;
  font-family: 'Montserrat';
  padding: 10px;
}

h1 {
  text-align: left;
  font-family: 'Montserrat';
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
}

.intronav {
  font-family: 'Cardo' !important;
  font-size: 25px !important;
  padding-right: 10px;
}

h2 {
  text-align: center;
  font-family: 'Cardo';
  font-size: 100px;
  font-weight: 900;

}

h3 {
  text-align: left;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
  color: #000;
}

h4 {
  text-align: left;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
}

.dpm {
  padding: 50px;
}

.mobwork {
  display: none;
}

.mobwork h1 {
  padding-left: 50px;
}

@media (max-width:600px),
(max-device-width:600px) {

  .mobwork {
    display: block;
  }

  .mobile-shift {
    display: none;
  }
}

