body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  font-size: 91px;
  color: #fff;
}

.projects-dpm {
  width: 380px;
  color: #000;;
}


.item {
  flex: 0 32%;
  height: 300px !important;
  margin-bottom: 2%; /* (100-32*3)/2 */
  background-color: #ccc;
}

html {
  background-color: #000;
}



.section {
  height: 100%;
}

.intro-copy {
  margin-top: 150px;
}

small {
  padding-right: 26px;
}
.metaverse {
  display:inline-grid;
  align-items: center;
}


.about {
  padding: 20px;
}


.flex {
  display: flex;
}
.about h1 {
  font-size: 1.17em;
  line-height: 50px;
}

.about a {
  color: #000 !important
}


.twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:block;
}
 
.close-content
{
  position: fixed;
    width: 50px;
    height: 50px;
    z-index: 9;
    right: 0;
}

.twinkling{
  background:transparent url(http://dwaynep-marshall.co.uk/stars.webp) repeat top center;
  z-index:-999;
  padding: 25px;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

.fixedDPM {
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  display: block;
  margin: 50px auto;

}

.fixedDPM:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.fixedDPM:active {
  color: #000
}

.fixedDPM:active:after {
  background: transparent;
}

.fixedDPM:hover:before {
  opacity: 1;
}

.fixedDPM:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
a:link {
  color: #000000 !important;
  text-decoration: none;
}

a:visited {
  color: #000000;
  text-decoration: none;
}

a:active {
  color: #000000 !important;
  text-decoration: none;
}




.dim
{
  opacity: 0.4;
}

body {
  font-size: 12px;
  background-color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-title h2 
{
  font-family: 'Cardo';
  font-size: 80px;
  color: #fff;
}




.white {
  color: #fff;
}

li{
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
}


.intronav {
  font-size: 25px !important;
  padding-right: 10px;
  margin-bottom: 0px;
}

h2 {
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: #000;
  margin: 0;

}

h3 {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
  color: #000;
}
.hide {
  display: none !important;
}
h4 {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.dpm {
  padding: 50px;
}

.mobwork {
  display: none;
}

.email {
  color: #000 !important;
  text-decoration: underline;
}

@media (max-width:600px),
(max-device-width:600px) {

  h1 {
    word-break: break-word !important;
  }

  .intro
  {
    display: block !important;
  }

  .projects-dpm {
    text-align: center;
    width: auto !important;
  }

  .avatar-DPM {
    width: 100% !important;
  }
  
  
}

