.tree {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}

.interactive h3 {
    text-align: center;
}

.tree h3 {
    text-align: center;
}


.interactive {
    display: flex;
    align-items: center;
}

.intro {
    background: #fff;
    opacity: 0.7;
    color: #000;
    padding: 20px;
    margin-bottom: 30px;
    width: 90%;
    margin: 0px auto;
}